body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font: bold 50pt "comic sans ms";
}

h2 {
    font: bold 'times new roman';
}

img, #switch{
    display: block;
    margin-right: auto;
    margin-left: auto;
}


#time {
    text-align: center;
    font: bold 30pt arial;
}

.button {
    text-align: left;
    font: 15pt arial;
}
